<div class="section no-pad-bot orange" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">Explore Your Taste</h1>
    <div class="row center">
      <h5 class="header col s12 light">Never Miss A Food Truck Festival Again...</h5>
    </div>
    <div class="row center">
      <%= link_to "Find Food Truck Festivals", food_truck_festivals_path, class:"btn-large waves-effect waves-cyan base" %>
    </div>
    <br><br>

  </div>
</div>

<div class="section">
  <div class="row">
    <h3 class="header col s12 center">Today</h3>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>

