<div class="section">
  <div class="row">
    <% @food_truck_festivals.each do |ftf| %>
      <div class="col s12 m4">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag "background3.jpg", class:"activator" %>
            <span class="card-title"><%= ftf.name %></span>
          </div>
          <div class="card-content">
            <p><%= ftf.address %></p>
          </div>
          <div class="card-action">
            <p><%= link_to "Visit Website", ftf.link, target: "_blank" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
